h4{
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5%;
}
  

.addAndmore {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

  